.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 15px;

    input {
        padding: 0 20px;
        border: none;
        width: 303px;
        height: 54px;
        border-radius: 5px;
        font-weight: normal;
        font-size: 14px;
        color: $secondtext;
    }
}

@media  (max-width: 768px) {
    .feed-form {
        margin: auto;
        margin-top: 20px;
    }    
}